<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<%- include('templates/nav') %>
<body>
    <h1>ERROR LA PAGINA NO SE ENCUENTRA </h1>
    <h2>WEB CREADA POR <%= nombre  %> </h2>
</body>
</html>