<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="elements">ElementosHTML</a></li>
        <li><a href="mascotas">Mascotas</a></li>
    </ul>
</nav>